html {
  background: #212529;
}
#Navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
#Inicio {
  background: transparent;
}
#Icon {
  position: relative;
  font-size: 50px;
  float: left;
}
#Info {
  position: relative;
}
#Nosotros {
  background: #212529;
  height: 710px;
  color: white;
  padding: 50px;
}
#Card {
  margin-left: 10px;
}
#Carousel {
  z-index: 0;
}
#Img {
  border-radius: 20px;
  position: relative;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: auto;
}
